<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="application/javascript" src="bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="js/controllers.js"></script>
</head>
<body ng-app="tutorialApplication">
<div ng-controller="phoneListController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <label>
                    Search:
                    <input ng-model="query">
                </label>
            </div>
            <div class="col-md-10">
                <ul>
                    <li ng-repeat="phone in phones | filter:query as filtered">
                        <span>{{phone.name}}</span>
                        <p>{{phone.snippet}}</p>
                    </li>
                </ul>
                <p>Total number of phones: {{filtered.length}}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>